.home-header {
  text-align: center;

  .blog-avatar {
    min-height: 250px;
    max-width: 430px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 1em auto;
  }

  .blog-description {
    font-size: 18px;
    color: #f2efcd;
    line-height: 30px;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    font-family: $font-serif;
    border-bottom: 1px solid #df6755;
  }
}
